@import '../../screens/styles/config';
@import '../../screens/styles/button';
// color

.SideMenu_light {
  background-color: $light-color;
  border: 1px solid $border-color;
  border-left: 0;
  border-top: 0;
  .side-menu-item {
    color: $text-color;
  }
  a {
    color: $text-color;
  }
  .side-menu-item:hover {
    background-color: $hover-post-light;
  }
  .close_menu_button {
    svg {
      color: $light-color;
    }
  }
}
.SideMenu_dark {
  background-color: $dark-color;
  border: 1px solid $dark-border-color;
  border-left: 0;
  border-top: 0;
  .side-menu-item {
    color: $text-color-dark;
  }
  a {
    color: $text-color-dark;
  }
  .side-menu-item:hover {
    background-color: $hover-post-dark;
  }
  .close_menu_button {
    svg {
      color: $dark-color;
    }
  }
}

.SideMenu {
  position: absolute;
  top: 100px;
  left: 0px;
  top: 0;
  width: 60%;
  height: 100vh;
  overflow: hidden;
  transition: height 500ms ease;
  z-index: 1;
  a {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    svg {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1.5rem;
    }
  }
}

.drop_menu_icon {
  padding-right: 1rem;
  height: 2rem;
  width: 2rem;
  color: $secondary-color;
  cursor: pointer;
}

.side-menu-item {
  padding: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
}

.side-menu-icon-button svg {
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  padding-right: 1rem;
}

.close_menu_button {
  position: absolute;
  background: $secondary-color;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

@media (min-width: 500px) {
  .close_menu_button {
    left: 90%;
    margin-top: 0.5rem;
  }
}
@media (max-width: 500px) {
  .close_menu_button {
    left: 85%;
    margin-top: 0.5rem;
  }
}
.close_menu_button:focus .close_menu_button:active {
  border: 0;
}

.side-bar-enter {
  position: absolute;
  transform: translateX(-120%);
}
.side-bar-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease;
}
.side-bar-exit {
  position: absolute;
}
.side-bar-exit-active {
  transform: translateX(-120%);
  transition: all 300ms ease;
}
