@import './config';

%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
}

.btn-secondary {
  @extend %btn;
}

.icons_main {
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 3px;
  color: $secondary-color;
}
