@import './config';
@import './button';

.content_container_color_light {
  .suggestion_all_users {
    border-bottom: 1px solid $border-color;
  }
  .users_container_discover {
    a {
      border-bottom: 1px solid $border-color;
    }
    .username_pseudo {
      p:first-child {
        color: $text-color;
      }
      p:nth-child(2) {
        color: $small-text-color;
      }
      p:nth-child(3) {
        color: $text-color;
      }
    }
    .see_profile {
      background: $secondary-color;
      border: 1px solid $secondary-color;
      &:hover {
        background: $secondary-color;
      }
    }
  }
}

.content_container_color_dark {
  .suggestion_all_users {
    border-bottom: 1px solid $dark-border-color;
  }
  .users_container_discover {
    a {
      border-bottom: 1px solid $dark-border-color;
    }
    .username_pseudo {
      p:first-child {
        color: $text-color-dark;
      }
      p:nth-child(2) {
        color: $small-text-color-dark;
      }
      p:nth-child(3) {
        color: $text-color-dark;
      }
    }
    .see_profile {
      background: $secondary-color;
      border: 1px solid $secondary-color;
      &:hover {
        background: $secondary-color;
      }
    }
  }
}

.suggestion_all_users {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 53px;
  h3 {
    margin: 0;
    font-weight: 1000;
  }
}

.users_container_discover {
  display: flex;
  flex-direction: column;
  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
  }
  a {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    button {
      max-height: 40px;
    }
  }
  .username_pseudo {
    flex-grow: 2;
    padding-left: 1rem;
    p:first-child {
      margin: 0;
    }
    p:nth-child(2) {
      margin: 0;
      font-size: 12px;
    }
    p:nth-child(3) {
      margin: 0;
      padding-top: 0.5rem;
    }
  }
  .button_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .see_profile {
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 15px;
    height: 38px;
    text-transform: none;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 700px) {
  .username_pseudo {
    p:nth-child(3) {
      max-width: 350px;
    }
  }
}
@media screen and (max-width: 700px) {
  .username_pseudo {
    width: 30%;
    p:nth-child(3) {
    }
  }
}
