@import './config';
@import './button';

.content_container_color_light {
  background: $light-color;
  color: $text-color;
  .main_content_left {
    background: $light-color;
  }
  @media (min-width: 700px) {
    .main_content_left {
      border: 1px solid $border-color;
    }
  }
  .Home_Title {
    background: $light-color;
    border-bottom: 1px solid $border-color;
    a {
      svg {
        color: $secondary-color;
      }
    }
  }
  .add_post_container {
    border-bottom: 1px solid $border-color;

    &:hover {
      background: lighten($border-color, 5%);
    }
  }
}

.content_container_color_dark {
  background: $dark-color;
  color: $text-color-dark;
  .main_content_left {
    background: $dark-color;
  }
  @media (min-width: 700px) {
    .main_content_left {
      border: 1px solid $dark-border-color;
    }
  }
  .Home_Title {
    background: $dark-color;
    border-bottom: 1px solid $dark-border-color;
    a {
      svg {
        color: $secondary-color;
      }
    }
  }
  .add_post_container {
    border-bottom: 1px solid $dark-border-color;
    &:hover {
      background: $hover-post-dark;
    }
  }
}

.content_container {
  display: flex;
  position: relative;

  //Left

  .left_container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    @media (min-width: 1285px) {
      .list_container {
        width: 270px;
        position: relative;
      }
    }
    @media (max-width: 1285px) and (min-width: 715px) {
      .list_container {
        position: relative;
        width: 100%;
        min-width: 64px;
        display: flex;
        justify-content: flex-end;
      }
    }
    @media (max-width: 715px) {
      .list_container {
        position: relative;
        width: 100%;
        min-width: 64px;
        display: flex;
        justify-content: center;
      }
    }
  }
  // Right
  .right_container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;

    @media (max-width: 1050px) and (min-width: 700px) {
      .main_content {
        width: 600px;
      }
    }
    @media (min-width: 1050px) {
      .main_content {
        width: 990px;
      }
    }

    @media (max-width: 700px) {
      .main_content_left {
        width: 100vw;
        min-height: 863px;
      }
      .Home_Title {
        width: 100vw;
        padding: 0 1rem;
      }
      .main_content {
        width: 100vw;
      }
    }

    @media (min-width: 700px) {
      .main_content_left {
        width: 600px;
        min-height: 863px;
      }
      .Home_Title {
        width: 566px;
        padding: 0 1rem;
      }
      .main_content {
      }
    }

    .main_content {
      display: flex;
      justify-content: space-between;
      position: relative;

      .main_content_left {
        position: relative;

        border-top: 0;
        padding-top: 53px;
        padding-bottom: 53px;
        .Home_Title {
          top: 0;
          position: fixed;
          display: flex;
          align-items: center;

          z-index: 999;
          border-top: 0;
          height: 53px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 1rem;
          }
          h3 {
            margin: 0;

            font-weight: 1000;
          }
          p {
            margin: 0;
            font-size: 13px;
          }
        }
      }
    }
  }
  .no_post_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 700px) {
      svg {
        width: 500px;
      }
    }

    @media (max-width: 700px) {
      svg {
        width: 70%;
      }
    }
    svg {
      height: auto;
      margin-top: 1rem;
    }
    p {
      font-weight: 1000;
      font-size: 20px;
    }
  }
}
