@import './config';

//Left

// Right

.profile_info_container {
  position: relative;
  .name_button {
    display: flex;
    justify-content: space-between;
    .name_pseudo_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        margin: 0;
      }
      p:nth-child(2) {
        margin-bottom: 1rem;
      }
    }

    .edit_profile_button {
      font-weight: 1000;
      font-size: 13px;
      border: 1px solid $secondary-color;
      border-radius: 18px;
      height: 50px;
      text-transform: none;
    }
    .unfollow_button_profile {
      font-weight: 1000;
      font-size: 13px;

      border-radius: 18px;
      height: 50px;

      text-transform: none;
    }
    .follow_button_profile {
      font-weight: 1000;
      font-size: 13px;
      border-radius: 15px;
      height: 50px;
      text-transform: none;
    }
  }
  p:first-child {
    font-weight: 700;
    font-size: 25px;
    margin: 0.75rem 0;
  }
  div {
    margin: 0;
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      margin-right: 5px;
      svg {
        margin-right: 5px;
      }
    }
  }
  button {
    position: relative;
    bottom: 50px;
  }
  .info_container_one {
    display: flex;
    flex-wrap: wrap;
  }
}

.cover_container {
  height: 200px;
  width: 100%;

  position: relative;
  .cover_image_itself {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .profile_pic_container {
    height: 133.5px;
    width: 133.5px;
    border-radius: 50%;
    position: relative;
    top: 133.25px;
    left: 1rem;

    .cover_image_itself {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    img:nth-child(1) {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.profile_info_container {
  padding: 1rem;
  position: relative;
  top: 50px;
}

.posts_container {
  position: relative;
  top: 50px;
}
.cover_image_itself {
  width: 600px;
  height: 200px;
  position: absolute;
}

//colors

.content_container_color_light {
  .edit_profile_button {
    background: white;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    &:hover {
      background: white;
    }
  }
  .unfollow_button_profile {
    background: white;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    &:hover {
      background: white;
    }
  }
  .follow_button_profile {
    background: $secondary-color;
    color: white;

    border: 1px solid $secondary-color;

    &:hover {
      background: $secondary-color;
    }
  }
  .cover_container {
    background: rgb(189, 189, 189);
  }
  .profile_pic_container {
    border: 1px solid $border-color;
    background: white;
  }
  .profile_info_container {
    border-bottom: 1px solid $border-color;
  }
  .name_pseudo_container {
    p:nth-child(2) {
      color: $small-text-color;
    }
  }
  .info_container_one {
    color: $small-text-color;
  }
}

.content_container_color_dark {
  .edit_profile_button {
    background: black;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    &:hover {
      background: black;
    }
  }
  .unfollow_button_profile {
    background: black;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    &:hover {
      background: black;
    }
  }
  .follow_button_profile {
    background: black;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    &:hover {
      background: black;
    }
  }
  .cover_container {
    background: rgb(189, 189, 189);
  }
  .profile_pic_container {
    border: 1px solid $border-color;
    background: white;
  }
  .profile_info_container {
    border-bottom: 1px solid $dark-border-color;
  }
  .name_pseudo_container {
    p:nth-child(2) {
      color: $small-text-color-dark;
    }
  }
  .info_container_one {
    color: $small-text-color-dark;
  }
}
