@import './config';

//Left

// Right

.profile_info_container {
  position: relative;
  .name_button {
    display: flex;
    justify-content: space-between;

    .edit_profile_button {
      background: white;
      color: $secondary-color;
      font-weight: 1000;
      font-size: 13px;
      border: 1px solid $secondary-color;
      border-radius: 18px;
      height: 50px;
      &:hover {
        background: white;
      }
      text-transform: none;
    }
    .unfollow_button_profile {
      background: white;
      color: $secondary-color;
      font-weight: 1000;
      font-size: 13px;
      border: 1px solid $secondary-color;
      border-radius: 18px;
      height: 50px;
      &:hover {
        background: white;
      }
      text-transform: none;
    }
    .follow_button_profile {
      background: $secondary-color;
      color: white;
      font-weight: 1000;
      border: 1px solid $secondary-color;
      font-size: 13px;
      border-radius: 15px;
      height: 50px;
      &:hover {
        background: $secondary-color;
      }
      text-transform: none;
    }
  }
  p:first-child {
    font-weight: 700;
    font-size: 25px;
    margin: 0.75rem 0;
  }
  div {
    margin: 0;
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      margin-right: 5px;
      svg {
        margin-right: 5px;
      }
    }
  }
  button {
    position: relative;
    bottom: 50px;
  }
  .info_container_one {
    display: flex;
    flex-wrap: wrap;
  }
}

.cover_container {
  height: 200px;
  width: 100%;
  background: rgb(189, 189, 189);
  position: relative;
  .cover_image_itself {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .profile_pic_container {
    border: 1px solid $border-color;
    height: 133.5px;
    width: 133.5px;
    border-radius: 50%;
    position: relative;
    top: 133.25px;
    left: 1rem;
    background: white;
    .cover_image_itself {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    img:nth-child(1) {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.profile_info_container {
  padding: 1rem;
  position: relative;
  top: 50px;
  border-bottom: 1px solid $border-color;
}

.posts_container {
  position: relative;
  top: 50px;
}
.cover_image_itself {
  width: 600px;
  height: 200px;
  position: absolute;
}
